
<div style="width: 100%;height: 450px;border: 1px solid #666;border-radius: 4px;margin-top: 10px;padding: 10px">
    <div style="width: 100%;height: 40px;display: flex;align-items:flex-end ">
        <div style="margin-left: 10px">
            <button type="button" class="btn btn-info" style="padding: 3px 12px">确认</button>
        </div>
        <div style="margin-left: 20px">
            <button type="button" class="btn btn-default" style="padding: 3px 12px">清除</button>
        </div>
        <div style="display: flex;align-items: flex-end;margin-left: 10px">
            <div>共搜索到922条数据 已选择</div> <div style="color: #108EE9">2</div> <div>项</div>
        </div>



    </div>
    <div class="horizontal-scroll">
        <!--<div class="form-group select-page-size-wrap ">-->
        <!--<label>Rows on page-->
        <!--<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker-->
        <!--ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">-->
        <!--</select>-->
        <!--</label>-->
        <!--</div>-->
        <table class="table" st-table="smartTableData">
            <thead>
            <tr >
                <th> </th>
                <th class="table-id" st-sort="id" st-sort-default="true">编号</th>
                <th st-sort="position">报警位置</th>
                <th st-sort="name">报警名称</th>
                <th st-sort="info">报警信息</th>
                <th st-sort="value">报警值</th>
                <th st-sort="status">状态</th>
                <th >报警时间</th>
                <th >确认/恢复时间</th>
                <th >备注</th>
            </tr>
            <!--<tr>-->
            <!--<th></th>-->
            <!--<th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input"-->
            <!--type="search"/></th>-->
            <!--<th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input"-->
            <!--type="search"/></th>-->
            <!--<th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input"-->
            <!--type="search"/></th>-->
            <!--<th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>-->
            <!--</th>-->
            <!--<th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>-->
            <!--</th>-->
            <!--</tr>-->
            </thead>
            <tbody>
            <tr ng-repeat="item in smartTableData">
                <td><input name="Fruit" type="checkbox" value="" /></td>
                <td class="table-id">{{item.id}}</td>
                <td>{{item.position}}</td>
                <td>{{item.name}}</td>
                <td>{{item.info}}</td>
                <td>{{item.value}}</td>
                <td>{{item.status}}</td>
                <td>{{item.occurTime}}</td>
                <td>{{item.clearTime}}</td>
                <td>{{item.remark}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>



